    {% load static %}
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootsnav.css' %}">
	<style type="text/css">
	body{ background-color:hsla(0,0%,18%,1.00)}
	.jq22-header h1{ text-align:center; font-size:28px; color:#939393}
		.navbar-brand{
		    padding: 29px 15px;
		    height: auto;
		}
		nav.navbar.bootsnav{
		    border: none;
		    margin-bottom: -36px;
    		border-radius: 6px;

		}
		.navbar-nav{
		    float: left;
		}
		nav.navbar.bootsnav ul.nav > li > a{
		    color: #474747;
		    text-transform: uppercase;
		    padding: 30px;
		}
		nav.navbar.bootsnav ul.nav > li:hover{
		    background: #f4f4f4;
		}
		.nav > li:after{
		    content: "";
		    width: 0;
		    height: 5px;
		    background: #34c9dd;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    transition: all 0.5s ease 0s;
		}
		.nav > li:hover:after{
		    width: 100%;
		}
		nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		    content: "+";
		    font-family: 'FontAwesome';
		    font-size: 16px;
		    font-weight: 500;
		    position: absolute;
		    top: 35%;
		    right: 10%;
		    transition: all 0.4s ease 0s;
		}
		nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{
		    content: "\f105";
		    transform: rotate(90deg);
		}
		.dropdown-menu.multi-dropdown{
		    position: absolute;
		    left: -100% !important;
		}
		nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		    border: none;
		}
		@media only screen and (max-width:990px){
		    nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after,
		    nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{ content: " "; }
		    .dropdown-menu.multi-dropdown{ left: 0 !important; }
		    nav.navbar.bootsnav ul.nav > li:hover{ background: transparent; }
		    nav.navbar.bootsnav ul.nav > li > a{ margin: 0; }
		}
	</style>
</head>
<body>
	<div class="jq22-container">
		<div class="demo" <!--style="padding: 2em 0;-->">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-12">
	                    <nav class="navbar navbar-default navbar-mobile bootsnav">
	                        <div class="navbar-header">
	                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
	                                <i class="fa fa-bars"></i>
	                            </button>
	                        </div>
	                        <div class="collapse navbar-collapse" id="navbar-menu">
	                            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
	                               	<li><a href="{% url 'index' %}">搜片</a></li>
	                                <!--<li><a href="#">国产</a></li>-->
	                             	<!--<li><a href="#">欧美</a></li>-->
	                                <!--<li><a href="#">今日更新</a></li>-->

	                            </ul>
	                        </div>
	                    </nav>
	                </div>
	            </div>
	        </div>
	    </div>

	</div>

	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
	<script type="text/javascript" src="{% static 'js/bootsnav.js' %}"></script>
</body>
</html>